# Dependencies
node_modules/
/webapp/node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/webapp/.next/
/out/

# Production
/build
/webapp/build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# GitHub workflows
.github/workflows/
.github/

# IDE
.idea/
.vscode/

# Vercel
.vercel

